.language-scala.hljs {
    --fsize: 18px;
    font-size: var(--fsize);
    line-height: calc(var(--fsize)+4px);
}

pre {
    width: unset !important;
}

body {
    background-image: url(../../../images/le_original_pantone_2019.svg);
    background-size: 13%;
    background-repeat: no-repeat;
    background-position: 0% 99%;
}